name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install linters
        run: |
          npm init -y
          npm i -D htmlhint stylelint stylelint-config-standard broken-link-checker

      - name: HTMLHint
        run: npx htmlhint "**/*.html"

      - name: Stylelint
        run: |
          npx stylelint "**/*.css"

      - name: Broken links (best effort)
        run: |
          npx blc https://ivanpeshterskii.github.io/titangym/ -ro
